<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refactory website</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="p-4 flex gap- space-4 items-center bg-black text-white justify-center">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contacts">Contact</a>
        <a href="/resources"  class="text-red-500">Resources</a>
    </nav>
    <p>This is the resources page</p>

   
</body>

</html>