<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refactory website</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- navigation bar -->
    <nav class="p-4 flex gap-5 items-center bg-black text-white justify-center">
        <a href="/"  class="text-red-500">Home</a>
        <a href="/about">About</a>
        <a href="/contacts">Contact</a>
        <a href="/resources">Resources</a>
        <a href="/blog">Blog</a>
        <a href="/student_login" class="p-2 bg-white text-black rounded-lg">Login</a>
        <a href="/student_register" class="p-2 bg-red-500 text-black rounded-lg">Register</a>
    </nav>
    <!-- end navigation bar -->

    <!-- hero -->

    <h1>My Home page</h1>
    <p>This is the home page</p>

   
</body>

</html>