<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refactory website</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="p-4 h-full flex flex  gap-5 items-center bg-black text-white justify-center">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contacts" class="text-red-500">Contact</a>
        <a href="/resources">Resources</a>
        <a href="/blog">Blog</a>
        
    </nav>
    <p>This is the home page</p>
</body>

</html>